<%= render 'posters' %>

<div class="col-sm-8 text-center">
  <%= form_for Poster.new do |f| %>
    <div class="poster">
      <%= link_to image_tag(@poster.image), @poster.imagelink %>
      <h3><%= link_to @poster.text, @poster.url %></h3>
      <%= f.hidden_field :text, value: "#{@poster.text}" %>
      <%= f.hidden_field :image, value: "#{@poster.image}" %>
    </div>
    <%= f.submit 'Save and Share', class: 'btn btn-primary' %>
  <% end %><br />

  <%= form_tag(posters_path, :method => 'get', id: 'subreddit-form') do %>
    <b>Use a different subreddit:</b> 
    <%= text_field_tag :subreddit, (params[:subreddit] || "quotes/new") %>
    <%= submit_tag "Click for a new poster!", class: "btn btn-primary" %>
  <% end %>
</div>    
<%= render 'buttons' %>