<div class="col-sm-4 buttons header">
  <%= form_for @poster.post do |f| %>
    <%= f.hidden_field :text, value: "#{@poster.subreddit_link_text}" %>
    <%= f.hidden_field :image, value: "#{@poster.flickr_image}" %>
    <%= f.hidden_field :link, value: "#{@poster.subreddit_link_url}" %>
    <%= f.hidden_field :imageurl, value: "#{@poster.flickr_imagelink_url}" %>
    <%= f.submit 'Save and Share', class: 'btn btn-primary btn-lg', data: {disable_with: "Please wait..."} %>
  <% end %>
</div>
<div class="col-sm-12 text-center">
    <div class="poster row">
      <div class="col-sm-12">
        <%= link_to image_tag(@poster.flickr_image), @poster.flickr_imagelink_url %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <h3><%= link_to @poster.subreddit_link_text, "#{@poster.subreddit_link_url}" %></h3>
      </div>
    </div><br />

  <%= form_tag(new_poster_path, :method => 'get', id: 'subreddit-form', class: 'form-inline') do %>
    <div class="form-group">
      <%= label_tag 'Use a Different Subreddit:' %>
      <%= text_field_tag :subreddit, (params[:subreddit] || "quotes/new"), class: "form-control" %>
      <%= submit_tag "Click for a new poster!", class: "btn btn-primary", data: {disable_with: "Please wait..."} %>
    </div>
  <% end %>
</div>    
<br />

<%= render 'posters' %>