<div class="col-sm-4 buttons header">
  <%= link_to "Click for a new poster!", root_path, class: "btn btn-primary btn-lg", data: {disable_with: "Please wait..."} %>
</div>
<div class="col-sm-12 text-center">
  <div class="poster row">
    <div class="col-sm-12">
      <%= link_to image_tag(@poster.image), @poster.imageurl %>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <h3><%= link_to @poster.text, @poster.link %></h3>
    </div>
  </div>
</div>
<div class="jumbotron text-center">
  <div class="row">
    <div class="posters">
      <h3>Recent Motivational Posters:</h3>
      <%= will_paginate @posters %><br />
      <%= render @posters %>
    </div>
  </div>
</div>