<!DOCTYPE html>
<html>
<head>
  <title>Inspira</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 header">
        <h1><%= link_to "Inspira", root_path %></h1>
        <small>pictures from flickr, captions from reddit</small>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
